<br>
<div class="container"  align="center">
    <h4 style="background-color:chocolate"color="blanchedalmond">Books</h4>
</div>

<div class="container">
    <table class="table table-bordered" *ngIf="books && books.length">
        <thead>
            <tr>
                <th>
                    Book image
                </th>
                <th>
                    Book Title
                </th>
                <th>
                    Book Price
                </th>
                <th>
                    Book Rating
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <td> <a routerLink="/book/{{book.bookId}}"><img src="{{book.imageUrl}}" height="90px" width="70px"></a></td>
                <td>{{book.title}}</td>
                <td>{{book.price}}</td>
                <td>{{book.rating}}</td>
                <td>
                    <button type="button" class="btn btn-block" style="background-color: burlywood">Add to cart</button>
                    <button type="button" class="btn btn-block" style="background-color: burlywood">Buy now</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>